/*
Color Theme: 
darkgreen: #3E5959
bluish green: #76888A
beige: #F2EDDC
pale red: #D9A08B
*/

@import url(components/header.css);
@import url(components/card.css);
@import url(components/button.css);
@import url(components/form.css);
@import url(components/profile.css);
@import url(components/footer.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #3a3368;
  --accent: #ecb338;
  --secondaccent: #b24b44;
  --base: #f5f3f0;
}

body {
  background-color: var(--base);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 4em;
  margin: 3em 0em 0em 0em;
}

.hidden {
  display: none;
}
