.card {
  justify-self: center;
  width: 35em;
  height: 18em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary);
  border: 0px var(--secondary) solid;
  border-radius: 1em;
  position: relative;
}

.card__bookmark {
  position: absolute;
  right: 15px;
  top: -20px;
}

.stroke {
  color: var(--accent);
}

.material-icons.md-48 {
  font-size: 48px;
}

.card__heading {
  font-size: 1rem;
  margin-bottom: 1.25em;
}

.card__text {
  font-size: 1.25em;
  padding: 0;
  margin-bottom: 1.25em;
}

.card__tags {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 2em;
}

.card__tag {
  background-color: #d7e5d2;
  border: 0px #d7e5d2 solid;
  border-radius: 0.25em;
  padding: 0.25em;
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}
