footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  padding: 1em;
  position: fixed;
  bottom: 0;
}

.navbar {
  width: 30rem;
  display: flex;
  justify-content: space-around;
}

.navbar__item {
  color: var(--base);
  cursor: pointer;
}
