/* Color Theme Swatches in Hex 
.color-theme_IMG-20220421-WA0000-1-hex { color: #1D5BA4; }
.color-theme_IMG-20220421-WA0000-2-hex { color: #2AA0C6; }
.color-theme_IMG-20220421-WA0000-3-hex { color: #BFDBEF; }
.color-theme_IMG-20220421-WA0000-4-hex { color: #A0BDCF; }
.color-theme_IMG-20220421-WA0000-5-hex { color: #FFB335; }
*/

@import url(components/header.css);
@import url(components/card.css);
@import url(components/button.css);
@import url(components/form.css);
@import url(components/profile.css);
@import url(components/footer.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #1d5ba4;
  --secondary: #a0bdcf;
  --accent: #ffb335;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 4em;
  margin: 3em 0em 6em 0em;
}
